*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
    color:white;
    font-size: 20px;
    font-family:"Poppins",sans-serif
 
}
.carousel{
    overflow: hidden;
    width: 500px;
    height: 500px;
    position: relative;
}

.image-container{
    display:flex;
    transition:transform 0.3s linear;
    transform: translateX(0);
}
img{
    width: 500px;
    height: 500px;
    object-fit:cover;

}
.leftbttn{
    position:absolute;
    left:0;
   top:250px;
   
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.222);
    color:white;

}


.rightbttn{
    position:absolute;
    background-color:rgba(0, 0, 0, 0.222);

    right:0;
   top:250px;
  color:white;
  border:none;
    z-index: 10;

}