*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-family:"Poppins",sans-serif
 
}


button{
    background-color: rebeccapurple;
    color:white;
    border-radius: 3px;
    border:none;
    font-family:inherit;
    padding:0.8rem;
}

.popup-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

   
    
}
.popup-container.active{
    display: flex;    
    
}
.popup{
    background-color:white;
    box-shadow: 7px 6px  10px rgba(84, 83, 83, 0.527);
    width: 500px;
    padding:2rem;
    position: relative;
    border-radius: 10px;
   
}
.popup button{
    font-size: 30px;
    background-color:white;
    color:rebeccapurple;
    position: absolute;
    right:4px;
    top:3px
}