.orders-cart{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    margin:auto;
    background-color:rgb(255, 255, 255);
    box-shadow: 10px  10px 10px rgba(83, 83, 83, 0.607);
    width:85%;
   
}
.orders-cart{
    padding: 20px;
    margin:20px;
    border: 1px solid rgba(145, 145, 145, 0.496);
    box-shadow: 10px  10px 10px rgba(83, 83, 83, 0.607);
    border-radius:10px;

}
.order-img{
    margin-top: 20px;
    width:90px;
    height:90px;
}
.order-header{
    display: flex;
    justify-content: space-between;
}
.card-item{
    display: flex
}
.card-item-desc{
    margin-top: 20px;
}